body{
    font-family: Arial, Helvetica, sans-serif;
    line-break: auto;
    margin: 0;
    padding: 0;
    font-size: 15px;
    background-color: aliceblue
}

/* container */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.container #delUp_div{
    float: right;
}

.container #delete_btn{
    float: left;
    border: none;
    color: #ffffff;
    background: #ff0000;
}

.container #delete_btn:hover{
    background: #850808
}

.container #delete_btn:active{
    background: #1a8f4f
}



#branding #lite{
    color: #E23A59;
}

.text_style{
    padding: 5px;
}

.info_wrapper{
    background: #616669;
}

.info_wrapper_sec{
    background: #468b62;
}

.answer_info{
    text-align: center;
    padding: 4px;
    font-size: 13px;
    color: #ffffff;
}

/* HEADER STYLE */
header{
    background: #0f5e8c;
    color: #ffffff;
    min-height: 70px;
    padding-top: 30px;
}

.wrapper{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #e6e6e6;
    min-width: 300px;
    margin: 4px;
}


.answer_btn{
    color: #ffffff;
    float: left;
    background: #0f5e8c;
    min-width: 200px;
    height: 38px;
    border: 0;
}

.answer_btn:hover{
    background: #014166;
}

.answer_btn:active{
    background: #E23A59;
}

.list_item{
    padding: 10px;
}

.votes_div{
    background: #e6e6e6;
}


.up_votes_p{
    text-align: center;
    padding: 4px;
    font-size: 13px;
    color:green;
    
}

.down_votes_p{
    text-align: center;
    padding: 4px;
    font-size: 13px;
    color: red;
}


@media(min-width: 768px){

    .wrapper{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background: #e6e6e6;
        min-width: 0px;
        width: 100%;
        margin: 4px;
    }

}


footer{
    background-color: #4C3C6B;
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    text-align: center;
}