body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-break: auto;
    margin: 0px;
    padding: 0px;
    background-color: aliceblue
}

/* container */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    word-wrap: break-word;
}

.container #branding #profile{
    float: right;
    color: #ffffff;
}

.container #branding #profile:hover{
    color: #188173;
}

.container #branding #profile:active{
    color: #E23A59;
}

a:hover{
    background: #E23A59;
}

.sign_in_btn{
    color: #ffffff;
    border: 0;
    height: 38px;
    width: 300px;
    background: #E23A59;
    margin-top: 15px;
}

.sign_in_btn:hover{
    background: #b60f2d;
}

.sign_in_btn:active{
    background: #188173;
}

/* HEADER STYLE */
header{
    background: #0f5e8c;
    color: #ffffff;
    line-break: auto;
    min-height: 70px;
    padding-top: 30px;
}

#branding #span_lite{
    color: #E23A59;
}

#showcase{
    color: #ffffff;
    text-align: center;
    min-height: 400px;
    background: url('../img/questions_answers.jpg') no-repeat 0 -150px;
}

#showcase h1{
    font-size:25px;
    margin-top: 35px;
}

#showcase #auth_credentials input[type="email"], input[type="password"]{
    padding: 4px;
    width: 250px;
    height: 25px;
}

#site_info{
    margin-top: 20px;
}

#site_info .info{
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
}

#site_info .info img{
    width: auto;
    height: 100px;
}

@media(max-width: 760px){

    #showcase #auth_credentials input[type="email"], input[type="password"]{
        padding: 4px;
        width: 100%;
        height: 25px;
        text-align: center;
    }

    /* HEADER STYLE */
    header{
        background: #0f5e8c;
        color: #ffffff;
        line-break: auto;
        min-height: 50px;
        padding-top: 20px;
    }

    #site_info .info{
        float: none;
        width: 100%;
        text-align: center;
    }

    .sign_in_btn{
        color: #ffffff;
        border: 0;
        height: 38px;
        width: 100%;
        background: #E23A59;
        margin-top: 15px;
    }


    #site_info .info img{
        width: 150px;
        height: 150px;
    }

}



footer{
    background-color: #4C3C6B;
    padding: 20px;
    color: #ffffff;
    text-align: center;
}